* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #111;
  background: #F2F2F2;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 48px;
}

.logo {
  font-size: 0.9rem;
  font-weight: 600;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-left: 29px;
}

.nav a:hover {
  text-decoration: underline;
}

.intro {
  margin-bottom: 96px;
  display: grid;
  grid-template-columns: 2fr 1fr; 
  align-items: start;
  margin-bottom: 48px;
  column-gap: 32px;
}

.small-link {
  color: #4A4FF2;
  font-size: 22px;
  margin-bottom: 32px;
}

.intro h2 {
  font-size: 40px;
  max-width: 635px;
  font-weight: bold;
}

.highlight {
  color: #4A4FF2;
  text-decoration: none;
}

.progress {
  font-size: 18px;
  color: #111111;
  opacity: 60%;
  margin-top: 16px;
  border-top: 1px solid #ddd;
  width: 207px;
  padding-top: 9px;
}

.gallery {
  column-count: 3; 
  column-gap: 8px;
}

.gallery img {
  width: 100%;
  margin-bottom: 9px; 
  display: block;
  break-inside: avoid;
}

section {
  background: #fff;
  margin: 20px auto;
  padding: 40px 60px;
  max-width: 1100px;
}

.services .intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.services h2 {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 600;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.service-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-list li {
  color: #666;
  line-height: 1.8;
}

.awards {
  background: #fff;
  padding: 40px 60px;
  max-width: 1100px;
  margin: 0 auto;
}

.award-item {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 20px;
  padding: 20px 0;
}

.award-title {
  font-weight: 600;
}

.award-category {
  color: #555;
  font-size: 14px;
}

.award-category p {
  margin: 4px 0;
}

.award-year {
  text-align: right;
  color: #777;
}

hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 20px 0;
}